body {
    .container {
        width: 1200px;
        margin: auto;
        .menu-left {
            background: #000;
            color: #fff;
            display: inline-flex;
            width: 20%;
            min-height: 100%;
            float: left;
            .ul-menu {
                li {
                    list-style: none;
                    line-height: 40px;
                    span {
                        padding-right: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        .center {
            display: grid;
           // float: left;
            width: 80%;
            background: #e8e7e7;
            .card {
                //display: flex;
                width: 100%;
                .item-card {
                    width: 27%;
                    display: inline-grid;
                    height: 200px;
                    background: #fff;
                    margin: 2px 5px;
                    border-radius: 5px;
                    .image, .title, .company, .item-working {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    .item-working {
                        .item-list {
                            display: inline-grid;
                            width: 30%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}